<!DOCTYPE html>
<html lang='en'>
<head>
  {% include "../partials/header.twig" %}
</head>

<body>
<div class="jumbotron text-center">
  <a href="/en">EN</a>
  <a href="/pl">PL</a>
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    
    <h1>Getting Started with Node on Heroku v1.0 dev branch and {{ i18n.__("contact") }}</h1>
   
  </div>
</div>
</body>
</html>
