{% extends '../_base.twig' %}

{% block main %}

<div class="jumbotron">
    <h1 class="display-3">403</h1>
    <p class="lead">You don't have an access to this page.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Back to home</a>
    </p>
</div>

{% endblock %}